body{
    text-align: center;
    
}
.message{
    color: green;
}
#scrambled-word{
    display: grid;
    background-color: rgb(196, 193, 193);
    width: 20vw;
    height: 4vh;
    position: relative;
    justify-content: center;
    padding-top: 10px;
}
.scrambled-word{
    display: grid;
    justify-content: center;
}