

body{
    box-sizing: border-box;
    text-align: center;
    
}
.message{
    color: green;
}
#scrambled-word{
    display: grid;
    background-color: rgb(196, 193, 193);
    width: 20vw;
    height: 4vh;
    position: relative;
    padding-top: 10px;
}
.scrambled-word{
    position: relative;
    display: grid;
    justify-content: center;
    bottom: 10px;
}
.game-over{
    color: red;
}